header {
    background-color: black;
}

body {
    background-color: #29377C;
}

.card {
 background-color: #464A9E
}

.nav-link {
    color: rgb(31, 106, 244) !important;
    }

.navbar-brand {
    color:rgb(31, 106, 244) !important;
}

.card-title {
    color:black;
}

.card-text {
    color:black;
}

footer {
    position:auto;
    bottom: 0;
}