header {
    background-color: #29377C;
}

body {
    background-color: #464A9E;
}

.card {
 background-color: #464A9E;
}

.nav-link {
    color: rgb(31, 106, 244) !important;
    }

.navbar-brand {
    color:rgb(31, 106, 244) !important;
}

.card-title {
    color:#fff;
}

.card-text {
    color:#fff;
}

footer {
    position:auto;
    bottom: 0;
}